<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        type="text/css"
        href="{{ url_for('static',path='/css/styles.css') }}">
    <title>Validate Masks</title>
</head>


<body x-data="{ masks_data: {{ masks }}, patch_id: {{ patch_id }},
    mask_id: {{mask_id}} }">
    <h1>Validate Masks</h1>
    <p>Total Patches: <span x-text="{{ n_patches - 1}}"></span></p>
    <div class="image-container">
        <div>
            <p class="image-title">Input Image</p>
            <img class="image"
                style="float: left;"
                src="{{ patch }}"
                alt="Input">
        </div>
        <div>
            <p class="image-title">Mask</p>
            <img class="image"
                style="float: right;"
                x-bind:src="masks_data[mask_id]"
                alt="Mask">
        </div>
    </div>
    <div class="button-container">
        <p>Current Patch: <span x-text="patch_id"></span></p>
        <p>Total Masks: <span x-text="masks_data.length - 1"></span></p>
        <p>Current Mask: <span x-text="mask_id"></span></p>
        <button class="button"
            style="background-color: #f44336;"
            type="submit"
            @click="mask_id = Math.min(mask_id + 1, masks_data.length - 1)">
            &#10008;
        </button>
        <button class="button"
            style="background-color: #4CAF50;"
            @click="addValidMask(patch_id, mask_id); mask_id = Math.min(mask_id + 1, masks_data.length - 1)">
            &#10003;
        </button>
        <button class="button"
            style="background-color: #a60da6;"
            @click="PopUpState(patch_id)">
            State
        </button>

        <div class="patch-buttons-container">
            <button class="patch-button"
            @click="OpenPatch({{ [patch_id - 1, 0] | max }})">
            Previous Patch
        </button>
            <form action="/save_mask/" method="post">
                <button class="button"
                    style="background-color: #008CBA;"
                    type="submit">
                    Save Mask
                </button>
            </form>
            <button class="patch-button"
                @click="OpenPatch({{ [patch_id + 1, n_patches - 1] | min }})">
                Next Patch
            </button>
        </div>

    </div>

    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <script>
        async function addValidMask(patch_id, mask_id) {
            try {
                const response = await fetch(
                    '/add_valid_mask/' + patch_id + '/' + mask_id,
                    {method: 'POST'}
                );
                if (response.ok) {
                    console.log('Image ID added successfully.');
                } else {
                    console.error('Failed to add Image ID.');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function OpenPatch(patch_id) {
            window.open(
                '/image/patch/' + patch_id,
                '_blank',
                'noopener,noreferrer'
            );
        }

        function PopUpState(patch_id) {
            new_window = window.open(
                '/image/state/' + patch_id,
                'patch_state',
                "width=450, height=512, bottom=0, left=200"
            );
            if (window.focus) {
                new_window.focus();
            }
        }
    </script>
</body>

</html>