<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current State</title>
    <link rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', path='/css/styles.css') }}">
    <body>
        <div class="image-container">
            <!-- <div>
                <p class="image-title">All Masks</p>
                <img class="image"
                    style="float: left;"
                    src="{{ masked_image }}"
                    alt="All">
            </div> -->
            <div>
                <p class="image-title">Current State</p>
                <img class="image"
                style="float: center;"
                src="{{ current_state }}"
                alt="state">
            </div>
        </div>
    </body>
</head>